@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root{
    /* --primary: #F59E0B; */
    --primary: #f59e0b;
    --nav-link-color: black;
    --nav-brand-color: black;
    --header-color: #FBBF24;
    --footer-color: #FBBF24;
    --body-bg: white;
    /* --body-bg: #fffbeb34; */
    --off-white: #FFFBEBe0;

}

ul{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px 0px;
    padding: 0px;
    min-height: 100vh;
    background-color: var(--body-bg);
}

.container{
    max-width: 900px;
    margin: 0px auto;
    padding: 0rem 2rem;
}

.container-fluid{
    padding: 0rem 1rem;
}

.list-no-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
}

.title{
    letter-spacing: 0.13em;
}

.nav-brand{
    font-size: 1.5rem;
    font-weight: bolder;
    font-style: italic;
    color: var(--nav-brand-color);
}

.navigation{
    box-shadow: 3px 4px 2px -2px rgba(0,0,0,0.1);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    /* padding: 0rem 2rem; */
    height: 95px;
    background-color: var(--header-color);
}

.nav-menu{
    text-align: right;
    padding-inline-start: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.link-nav{
    color: var(--nav-link-color);
    margin: 0rem 0.5rem;
    text-decoration: none;
    font-size: larger;
}

.link-nav:hover{
    text-decoration: underline;
    color: white;
    color: var(--nav-link-color);
}

.nav-menu .active{
    color: var(--nav-link-color);
    font-weight: bold;
    text-decoration: none;
}

.hero{
    padding: 0.5rem;
}

.hero-img{
    display: block;
    /* max-width: 80%; */
    margin: 0 auto;
    margin-top: 1rem;
    width: 350px;
}

.hero-header{
    text-align: center;
    margin: 0.5rem 0;
}

.link{
    text-decoration: none;
    padding: 0.3rem 1rem; 
}

.link-primary {
    background-color: var(--primary);
    border-radius: 0.5rem;
    color: white;
  }

.link-secondary{
    border: 1px solid var(--primary);
    border-radius: 0.5rem;      
    color:var(--primary);
}

.section{
    box-shadow: 3px 4px 2px -2px rgba(0,0,0,0.1);
    padding: 2rem;
    border-radius: 1rem;
    margin: 1rem auto;
    text-align: center;
}

.grey{
    background-color: var(--off-white);
}

.footer{
    background-color: var(--footer-color);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    box-shadow: 3px -4px 2px -2px rgba(0,0,0,0.1);
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.footer-header{
    font-weight: bold;
    margin: 0.5rem 0rem;
}

.footer .link{
    color: var(--nav-link-color);
}

.contrast{
    background-color: var(--primary);
    color: black;
}

.skills{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.skills-icon-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.5rem;
    font-size: small;
}

.skills-icon{
    width: 32px;
    height: 32px;
}